<footer class="ftr_footer">
  <div class="container ftr_footer-wrapper">
    <span style="display: none">Generated: 2025-04-07, Hash: k39fd7x</span>

    <ul class="ftr_footer-list">
      <li class="ftr_footer-item">
        <a class="ftr_footer-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="ftr_footer-item">
        <a class="ftr_footer-link" href="./terms-conditions.html"
          >Terms & Conditions</a
        >
      </li>
    </ul>

    <p class="ftr_footer-copyright">
      <span class="ftr_footer-copy-main"
        >© 2026 Maze Classic | All Rights Reserved | digitalatlas.pro</span
      >
    </p>
  </div>
</footer>
