<article class="hr_hero">
  <div class="hr_hero-wrapper">
    <div class="hr_hero-title-wrapper">
      <h1 class="hr_hero-title">The First Turn</h1>
      <p class="hr_hero-subtitle">
        Look, every maze is basically the same at first - there's a path, and
        you just gotta pick which way to go.
      </p>
      <div class="hr_hero-story-wrapper">
        <p class="hr_hero-story-text">
          You move your finger. The light follows.
        </p>
        <p>
          At first, it's easy. One turn, then another. You see the exit almost
          immediately.
        </p>
        <p>But then things get tricky.</p>
        <p>
          The paths get longer. The turns less obvious. And suddenly, you’re not
          just playing — you’re thinking.
        </p>
        <p>Maze Classic doesn’t rush you.</p>
        <p>No pressure - take your time and work it out.</p>
      </div>
      <a
        href="https://play.google.com/store/apps/details?id=com.konstant.maze&hl=en&gl=us"
        class="hr_hero-btn"
        >Start Your First Maze</a
      >
    </div>
    <figure class="hr_hero-img-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/hero/hero.png 1x, /img/hero/hero@2x.png 2x"
          type="image/png"
        />

        <source
          srcset="/img/hero/hero-mob.png 1x, /img/hero/hero-mob@2x.png 2x"
          type="image/png"
        />
        <img
          class="hr_hero-img"
          src="/img/hero/hero.png"
          alt="Hero image"
          loading="lazy"
        />
      </picture>
    </figure>
  </div>
</article>
