<div class="mm_mobile-menu" data-visible="close">
  <div class="container">
    <button class="mm_close-btn" type="button" data-menu-close>
      <svg class="mm_btn-close-icon">
        <use href="/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mm_list-navigation" data-menu-navigation>
      <li class="mm_item-navigation">
        <a href="#" class="mm_item-nav-link">Home</a>
      </li>
      <li class="mm_item-navigation">
        <a href="#gameplay" class="mm_item-nav-link">Gameplay</a>
      </li>
      <li class="mm_item-navigation">
        <a href="#modes" class="mm_item-nav-link">Modes</a>
      </li>
      <li class="mm_item-navigation">
        <a href="#feature-info" class="mm_item-nav-link">Features</a>
      </li>
      <li class="mm_item-navigation">
        <a href="#reviews" class="mm_item-nav-link">Reviews</a>
      </li>
    </ul>
  </div>
</div>
