<article id="modes" class="mds_modes">
  <div class="container mds_modes-container">
    <div class="mds_modes-content">
      <h2 class="mds_modes-title">
        Things get interesting the further you get
      </h2>
      <p class="mds_modes-tagline">You won’t notice it at first.</p>

      <div class="mds_modes-details">
        <p class="mds_modes-subtitle">But with each level:</p>
        <ul class="mds_modes-list">
          <li class="mds_modes-item">The shapes become less predictable</li>
          <li class="mds_modes-item">The routes become less obvious</li>
          <li class="mds_modes-item">The decisions start to matter more</li>
        </ul>
      </div>

      <div class="mds_modes-description">
        <p>
          From small relaxing puzzles to complex labyrinths,<br />
          you'll find yourself really having to focus and remember the layout.
        </p>
        <p>
          More than 100 variations — <br />
          and none of them feel exactly the same.
        </p>
      </div>
    </div>

    <figure class="mds_modes-preview">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/modes/modes.png 1x, ./img/modes/modes@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="./img/modes/modes-mob.png 1x, ./img/modes/modes-mob@2x.png 2x"
          type="image/png"
        />
        <img
          src="./img/modes/modes.png"
          alt="Maze gameplay preview on mobile screen"
          class="mds_modes-img"
          loading="lazy"
        />
      </picture>
    </figure>
  </div>
</article>
